[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/Tabular"]
	path = vim/bundle/Tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/rails.vim"]
	path = vim/bundle/rails.vim
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/slime.vim"]
	path = vim/bundle/slime.vim
	url = https://github.com/jpalardy/vim-slime.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/numbers.vim"]
	path = vim/bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/bundle/surround.vim"]
	path = vim/bundle/surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/coffe-script.vim"]
	path = vim/bundle/coffe-script.vim
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/markdown.vim"]
	path = vim/bundle/markdown.vim
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/haml.vim"]
	path = vim/bundle/haml.vim
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/bundle/guicolorscheme.vim"]
	path = vim/bundle/guicolorscheme.vim
	url = https://github.com/vim-scripts/guicolorscheme.vim.git
[submodule "vim/bundle/color-sampler-pack"]
	path = vim/bundle/color-sampler-pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
