[submodule "emacs.d/themes/emacs-color-theme-solarized"]
	path = emacs.d/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "emacs.d/bundle/exec-path-from-shell"]
	path = emacs.d/bundle/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "emacs.d/bundle/rainbow-delimiters"]
	path = emacs.d/bundle/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
[submodule "emacs.d/bundle/paredit"]
	path = emacs.d/bundle/paredit
	url = https://github.com/goncha/paredit.git
[submodule "emacs.d/bundle/clojure-mode"]
	path = emacs.d/bundle/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "emacs.d/bundle/dash"]
	path = emacs.d/bundle/dash
	url = https://github.com/magnars/dash.el.git
[submodule "emacs.d/bundle/pkg-info"]
	path = emacs.d/bundle/pkg-info
	url = https://github.com/lunaryorn/pkg-info.el.git
[submodule "emacs.d/bundle/s"]
	path = emacs.d/bundle/s
	url = https://github.com/magnars/s.el.git
[submodule "emacs.d/bundle/cider"]
	path = emacs.d/bundle/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule "emacs.d/bundle/epl"]
	path = emacs.d/bundle/epl
	url = https://github.com/cask/epl.git
[submodule "emacs.d/src/org-mode"]
	path = emacs.d/src/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "emacs.d/src/magit"]
	path = emacs.d/src/magit
	url = git://github.com/magit/magit.git
[submodule "emacs.d/src/git-modes"]
	path = emacs.d/src/git-modes
	url = https://github.com/magit/git-modes.git
